body{
    
    background: linear-gradient(white,rgb(221, 219, 219),rgb(119, 206, 240));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    margin-top:5%;
    font-size: 80px;
}
span{
    color: skyblue;
}
.cards{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 150px;
    background-color: white;
    margin: auto;
    margin-top: 30px ;
    border-radius: 30px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.destination{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.destination img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
}
.card:hover{
    background-color: skyblue;
    cursor: pointer;
}